services:
  nextjs:
    build: .
    container_name: nextjs
    env_file:
      - .env.example
      - .env
    restart: unless-stopped
  nginx:
    image: nginx:1-alpine
    container_name: nginx
    ports:
      - "3080:80"
      - "3443:443"
    volumes:
      - ${SSL_CERTS}:/etc/nginx/ssl:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped