@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display:none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style:none;
        /* IE and Edge */
        scrollbar-width:none;
        /* Firefox */
    }
}

@theme inline {
    /* Container */
    --container-center:true;
    --container-padding:2rem;
    --container-2xl:1400px;

    /* Border Radius */
    --radius-sm:calc(var(--radius) - 4px);
    --radius-md:calc(var(--radius) - 2px);
    --radius-lg:var(--radius);

    /* Color mappings */
    --color-background:var(--background);
    --color-foreground:var(--foreground);
    --color-card:var(--card);
    --color-card-foreground:var(--card-foreground);
    --color-popover:var(--popover);
    --color-popover-foreground:var(--popover-foreground);
    --color-primary:var(--primary);
    --color-primary-foreground:var(--primary-foreground);
    --color-secondary:var(--secondary);
    --color-secondary-foreground:var(--secondary-foreground);
    --color-muted:var(--muted);
    --color-muted-foreground:var(--muted-foreground);
    --color-accent:var(--accent);
    --color-accent-foreground:var(--accent-foreground);
    --color-destructive:var(--destructive);
    --color-destructive-foreground:var(--destructive-foreground);
    --color-border:var(--border);
    --color-input:var(--input);
    --color-ring:var(--ring);

    /* Animations */
    --animate-accordion-down:accordion-down 0.2s ease-out;
    --animate-accordion-up:accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height:0;
        }
        to {
            height:var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height:var(--radix-accordion-content-height);
        }
        to {
            height:0;
        }
    }
}

:root {
    --radius:0.5rem;
    --background:#fff;
    --foreground:#0a0a0a;
    --card:#fff;
    --card-foreground:#0a0a0a;
    --popover:#fff;
    --popover-foreground:#0a0a0a;
    --primary:#171717;
    --primary-foreground:#fafafa;
    --secondary:#f5f5f5;
    --secondary-foreground:#171717;
    --muted:#f5f5f5;
    --muted-foreground:#737373;
    --accent:#f5f5f5;
    --accent-foreground:#171717;
    --destructive:#dc2626;
    --destructive-foreground:#fafafa;
    --border:#e5e5e5;
    --input:#e5e5e5;
    --ring:#0a0a0a;
}

.dark {
    --background:#0a0a0a;
    --foreground:#fafafa;
    --card:#0a0a0a;
    --card-foreground:#fafafa;
    --popover:#0a0a0a;
    --popover-foreground:#fafafa;
    --primary:#fafafa;
    --primary-foreground:#171717;
    --secondary:#262626;
    --secondary-foreground:#fafafa;
    --muted:#262626;
    --muted-foreground:#a3a3a3;
    --accent:#262626;
    --accent-foreground:#fafafa;
    --destructive:#7f1d1d;
    --destructive-foreground:#fafafa;
    --border:#262626;
    --input:#262626;
    --ring:#d4d4d4;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer prose-m-none {
    * {
        @apply prose-headings:m-0;
    }
}